.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
}

.header {
    height: 68px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.header h3 {
    font-size: 20px;
    color: #0F0F0F;
    font-weight: 700;
}

.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
}

@media (max-width: 750px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 751px) and (max-width: 1010px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1011px) and (max-width: 1230px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1231px) and (max-width: 1440px) {
    .main {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1441px) {
    .main {
        grid-template-columns: repeat(6, 1fr);
    }
}

/****************** 쇼츠 하나  */

.shortsContainer {
    width: 100%;
}

.shorts {
    position: relative;
    width: 100%;
    aspect-ratio: 9 / 16;
    overflow: hidden;
}

/* 하단 그라데이션 */
.shorts::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
}


.shortsThumbnail_div {
    position: relative;
    width: 100%;
    aspect-ratio: 9 / 16;
    overflow: hidden;
    position: relative;
}

.shortsPlayer {
    position: relative;
    width: 100%;
    aspect-ratio: 9 / 16;
    overflow: hidden;
    position: absolute;
}

.shortsThumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.shorts p {
    position: absolute;
    bottom: 10px;
    left: 10px;

    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;

    z-index: 4;
}
