.container{
    display: flex;
    flex-direction: column;

    width: 72%;
    height: 100vh;
    margin: 0 auto;
}

.header {

}

.header h1 {
    font-size: 2em;
    font-weight: bold;
}



.main {
    display: flex;
    flex-direction: column;
}

.channelCard {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channelImage {
    width: 136px;
    height: 136px;
    border-color: #000000;
    border-radius: 136;
}

.channelDiscription {
    flex: 1;
}

.buttonDiv {
    width: 30;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}