.contents-container {
    width: 72%;
    height: 100vh;
    margin: 0 auto;
}

.user-page-info-container {
    width: 100%;
    height: 8rem;
    display: flex;
    margin: 2rem auto;
    padding: 2rem;
}

.user-profile-img {
    width: 8rem;
    border-radius: 5rem;
    margin-right: 2rem;
}

.user-name-and-id-container {
    width: 20rem;
    height: 3.5rem;
}

.user-name-container {
    display: flex;
    height: 3.5rem;
    flex-direction: column;
    gap: 0.5rem;
}

.user-name {
    font-size: 2rem;
    font-weight: 500;
}

.user-channel-move {
    color: #a2a2a2;
    font-weight: 450;
    text-decoration: none;
}

.Google-id-change-container {
    display: flex;
}

.changes-container {
    width: 100%;
}

.changes-id-container,
.Google-id-container {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 0.2rem;
}

.changes-id-container {
    margin-top: 1rem;
}

.chang-id-icon {
    width: 1.3rem;
}

.changes-id-text {
    font-size: 1.2rem;
}

.view-record-container {
    width: 100%;
    height: 2.5rem;
    margin-left: 1.8rem;
    /*background-color: #a2a2a2;*/
}

.view-record-text-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

.view-record-text-btn > button {
    width: 6.2rem;
    height: 2.5rem;
    border: #a2a2a2 0.1rem solid;
    border-radius: 3rem;
    background-color: #ffffff;
    font-size: 1.1rem;
    font-weight: 400;
}