.contents-container {
    width: 72%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    background-color: aquamarine;
}

.user-page-info-container {
    width: 100%;
    height: 8rem;
    margin: 2rem auto;
    background-color: beige;
    padding: 2rem;
}

.user-profile-img {
    width: 8rem;
    border-radius: 5rem;
}