.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 830px;
}

.relative-layout-container {
    position: relative;
    width: 100%;
    max-width: 1350px;
    aspect-ratio: 16 / 9;
    height: auto;
}

.absolute-layout-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.contents-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.user-page-info-container {
    width: 100%;
    display: flex;
    padding: 2rem;
}

.user-profile-img {
    width: 7.5rem;
    border-radius: 5rem;
    margin-right: 2rem;
}

.user-name-container {
    height: 3.5rem;
    flex-direction: column;
    gap: 1rem;
}

.user-name {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.user-channel-move {
    color: #a2a2a2;
    font-size: 1rem;
    font-weight: 450;
    text-decoration: none;
}

.changes-id-container,
.Google-id-container {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 0.2rem;
}

.changes-id-container {
    margin-top: 1rem;
}

.chang-id-icon {
    width: 1.3rem;
}

.changes-id-text {
    font-size: 1.1rem;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.view-record-container,
.playlist-container,
.Videos-to-watch-container {
    width: 100%;
    margin-left: 1.8rem;
}

.Videos-to-watch-container-height {
    height: 15rem;
}

.playlist-container-margin {
    margin-top: 1.5rem;
}

.view-record-text-btn,
.playlist-text-btn,
.Videos-to-watch-text-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
}


.next-video-btn,
.playlist-next-video-btn {
    width: 2.5rem;
    height: 2.5rem;
    border: #ffffff 0.1rem solid;
    border-radius: 3rem;
    background-color: #ffffff;
    font-size: 1.2rem;
    margin-top: 2rem;
    box-shadow: 0.2rem 0.25rem 0.1rem;
}

.view-record-contents-container,
.playlist-contents-container {
    display: flex;
    width: 100%;
    height: 15rem;
    margin-top: 1rem;
}

.video-list,
.playlist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.video-item,
.playlist-video-item {
    align-items: flex-start;
    width: calc(100% / 6 - 1rem);
    gap: 0.5rem;
}

.video-thumbnail-container,
.playlist-video-thumbnail-container {
    width: 210px;
    height: 114px;
    flex-shrink: 0; /* 썸네일 크기 고정 */
}

.video-thumbnail-container {
    position: relative;
}

.video-thumbnail,
.playlist-video-thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    cursor: pointer;
}

.video-info-container,
.playlist-video-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    line-height: 1.5;
}

.video-title,
.playlist-video-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.5;
    max-height: 3rem;
    font-size: 1rem;
    font-weight: 600;
}

.video-channel,
.video-meta,
.playlist-video-channel,
.playlist-video-meta {
    font-size: 0.8rem;
    color: #a2a2a2;
}

.playlist-video-channel {
    margin-top: 1rem;
}

.video-channel {
    margin-top: 1rem;
}

.playlist-sort-text,
.Videos-to-watch-later {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.Videos-to-watch-later {
    gap: 0.5rem;
}

.sort-text {
    background-color: #ffffff;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: dimgray;
}

.playlist-all-view,
.all-video-view {
    width: 6.2rem;
    height: 2.5rem;
    border: #a2a2a2 0.1rem solid;
    border-radius: 3rem;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 5rem;
}

.playlist-all-and-plus-btn {
    display: flex;
    gap: 1rem;
}

.plus-btn {
    background-color: #ffffff;
    border: none;
    font-size: 2rem;
}

.watch-later-num {
    color: #a2a2a2;
}

.progress-container {
    width: 100%;
    bottom: 1rem;
}

.progress-time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0.4rem;
    left: 8.8rem;
    color: #ffffff;
    background-color: #222222;
    width: 4rem;
    border-radius: 0.3rem;
}

.progress-time {
    font-size: 1rem;
    font-weight: 500;
}

.progress-bar-container {
    position: absolute;
    bottom: 0.005rem;
    /*left: 0;*/
    width: 15.5%;
    height: 0.25rem;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: red;
    width: 100%;
    transition: width 0.3s ease;
    border-radius: 0 0 0.5rem 0.5rem;
}

.view-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 4rem;
    left: 11rem;
    color: #ffffff;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 0.3rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.video-view-later-icon,
.add-playlist-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.video-thumbnail-container:hover .view-icons-container {
    visibility: visible;
    opacity: 1;
}

.view-icons-container:hover .video-later-view-text {
    visibility: visible;
    opacity: 1;
    bottom: 4rem;
    left: -5rem;
}

/*.add-playlist-icon:hover + .add-playlist-text {*/
/*    visibility: visible;*/
/*    bottom: 4rem;*/
/*    left: -5rem;*/
/*}*/

.video-later-view-text {
    position: absolute;
    bottom: -2rem; /* 텍스트를 아이콘 아래로 배치 */
    left: 0;
    color: #ffffff;
    background-color: #222222;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

@media screen and (max-width: 1536px) and (min-width: 1279px) {
    .user-profile-img {
        height: 3.5rem;
        flex-direction: column;
        margin-left: 3rem;
    }

    .user-name-and-id-container {
        padding-left: 0;
    }

    .view-record-container,
    .playlist-container,
    .Videos-to-watch-container {
        width: 88%;
        margin: 0 auto;
    }

    .user-profile-img {
        width: 7.5rem;
        height: 7.5rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    .user-name {
        font-size: 1.8rem;
    }

    .changes-id-text {
        font-size: 0.9rem;
    }

    .video-list,
    .playlist-list {
        overflow: hidden
    }

    .video-item,
    .playlist-video-item {
        width: calc(100% / 5 - 1rem);
    }

    .video-item:nth-child(n + 6),
    .playlist-video-item:nth-child(n + 6) {
        display: none;
    }

    .video-thumbnail-container {
        position: relative;
        width: 210px;
        height: 118px;
    }

    .video-thumbnail {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        gap: 0.5rem;
        object-fit: cover;
    }

    .video-info-container {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .view-record-container,
    .playlist-container,
    .Videos-to-watch-container {
        width: 95%;
    }

    .video-item,
    .playlist-video-item {
        width: calc(100% / 5 - 1rem);
    }

    .video-thumbnail-container,
    .playlist-video-thumbnail-container {
        width: 180px;
        height: 100px;
    }

    .user-name {
        font-size: 1.5rem;
    }

    .changes-id-text {
        font-size: 0.8rem;
    }

    .video-item:nth-child(n + 6),
    .playlist-video-item:nth-child(n + 6) {
        display: none;
    }
}

@media screen and (max-width: 947px) {
    .view-record-container,
    .playlist-container,
    .Videos-to-watch-container {
        width: 95%;
    }

    .video-item,
    .playlist-video-item {
        width: calc(100% / 5 - 1rem);
    }

    .video-thumbnail-container,
    .playlist-video-thumbnail-container {
        width: 180px;
        height: 100px;
    }

    .user-name {
        font-size: 1.5rem;
    }

    .changes-id-text {
        font-size: 0.8rem;
    }

    .video-item:nth-child(n + 6),
    .playlist-video-item:nth-child(n + 6) {
        display: none;
    }

}

@media screen and (max-width: 768px) and (min-width: 480px) {
    .view-record-container,
    .playlist-container,
    .Videos-to-watch-container {
        width: 100%;
    }

    .video-item,
    .playlist-video-item {
        width: calc(100% / 4 - 1rem);
    }

    .video-item:nth-child(n + 5),
    .playlist-video-item:nth-child(n + 5) {
        display: none;
    }

    .video-thumbnail-container,
    .playlist-video-thumbnail-container {
        width: 150px;
        height: 84px;
    }

    .user-name {
        font-size: 1.3rem;
    }

    .changes-id-text {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 479px) {
    .view-record-container,
    .playlist-container,
    .Videos-to-watch-container {
        width: 100%;
        padding: 0 1rem;
    }

    .video-item,
    .playlist-video-item {
        width: 100%;
    }

    .video-thumbnail-container,
    .playlist-video-thumbnail-container {
        width: 100%;
        height: auto;
    }

    .video-item,
    .playlist-video-item {
        width: calc(100% / 4 - 1rem);
    }

    .video-item:nth-child(n + 5),
    .playlist-video-item:nth-child(n + 5) {
        display: none;
    }

    .video-thumbnail {
        border-radius: 0.3rem;
    }

    .user-name {
        font-size: 1rem;
        text-align: center;
    }

    .changes-id-text {
        font-size: 0.6rem;
    }
}