.panelContainer{
    flex-basis: 50%;
    /* background-color:lightcoral */
}

.contentsContainer{
    width: 75%;
    min-width: 250px;
    height: 694px;

    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border: 1px solid var(--border-color);
    border-radius: 12px;
}

.contentsHeader {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    border-bottom: 1px solid var(--border-color);
    border-radius: 12px 12px 0 0;
}

.contentsHeader p {
    font-size: 20px;
    font-weight: 900;
}

.closeBnt {
    width: 40px;
    height: 40px;
    padding: 2px 0 0 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

.closeBnt img {
    width: 18px;
}

.closeBnt:hover {
    background-color: var(--border-color);
    cursor: pointer;
}

.contentsSection{
    padding: 4px 16px;
}

.contentsSection p{
    padding: 17px 0px;
    font-size: 14px;
    border-bottom: 1px solid var(--border-color);
}

/* 전체 박스 */
.contentsBox{
    padding: 0 16px;
}

/* 좋아요수 / 조회수 / 정보 */
.contentsFactoid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 16px;
}

.contentsFactoid div{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.contentsFactoid div p{
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px;
}

.contentsFactoid div span{
    font-size: 12px;
    font-weight: 600;
    color: var(--contents-factoid-color);
}

/* 해시태그 부분 */
.tagSection{
    padding: 14px;
    font-size: 14px;
    background-color: var(--hashtag-section-color);
    border-radius: 12px;
}