.panelContainer{
    flex-basis: 50%;
}

.slideIn{
    animation: slideIn 0.4s ease-out;
}

.slideOut {
    animation: slideOut 0.4s ease-out;
}

.contentsContainer{
    /* width: 75%; */
    width: 480px;
    min-width: 250px;
    height: 87vh;
    position: relative;

    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border: 1.5px solid var(--border-color);
    border-radius: 12px;
}

.contentsHeader {
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    border-bottom: 1.5px solid var(--border-color);
    border-radius: 12px 12px 0 0;
}

.contentsHeader p {
    font-size: 20px;
    font-weight: 900;
}

.closeBnt {
    width: 40px;
    height: 40px;
    padding: 2px 0 0 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

.closeBnt img {
    width: 18px;
}

.closeBnt:hover {
    background-color: var(--border-color);
    cursor: pointer;
}

.contentsSection{
    padding: 4px 16px;
}

.contentsSection p{
    padding: 17px 0px;
    font-size: 14px;
    border-bottom: 1.5px solid var(--border-color);
}

/* 전체 박스 */
.contentsBox{
    padding: 0 16px;
}

/* 좋아요수 / 조회수 / 정보 */
.contentsFactoid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 16px;
}

.contentsFactoid div{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.contentsFactoid div p{
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px;
}

.contentsFactoid div span{
    font-size: 12px;
    font-weight: 600;
    color: var(--contents-factoid-color);
}

/* 해시태그 부분 */
.tagSection{
    padding: 14px;
    font-size: 14px;
    background-color: var(--hashtag-section-color);
    border-radius: 12px;
}

/* 댓글부분 */
.commentInputBox{
    width: 448px;
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 16px;
    border-top: 1.5px solid var(--border-color);
}

/* 댓글 보여지는 부분 */
.commentShowBox{
    padding: 16px;
}

.commentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ellipsisBtn{
    width: 24px;
    height: 24px;
    padding: 16px;
}

.userid{
    font-size: 14px;
    font-weight: 600;
    padding: 2px 0px;
    margin-bottom: 4px;
}

.userComment{
    font-size: 14px;
    padding: 2px 0;
    margin-bottom: 8px;
}

.userProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 16px 0 0;
}

.userReactionContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.likeBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}
.userReactionContainer img{
    width: 20px;
}

/* 댓글 달기 */
.commentInputBox img {
    width: 40px;
    border-radius: 50%;
    margin: 0 16px 0 0;
}

.commentInputBox input {
    border: none;
    width: 100%;
    font-size: 14px;
    border-bottom: 1.5px solid var(--border-color);;
}

.commentInputBox input:focus{
    outline: none;
    border-bottom: 2px solid #0F0F0F;
}


@keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0; 
    }
    to {
      transform: translateX(0);
      opacity: 1; 
    }
  }

@keyframes slideOut {
    from {
      transform: translateX(0); /* 시작: 제자리 */
      opacity: 1; /* 투명도 1 */
    }
    to {
      transform: translateX(100%); /* 끝: 화면 밖(오른쪽) */
      opacity: 0; /* 투명도 0 */
    }
  }