:root{
    --border-color:#E5E5E5;
}

.Shorts_Container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.section_Container{
    flex: 1;
    display: flex;
    justify-content: center;
}