:root{
    --border-color:#E5E5E5;
    --contents-factoid-color: #606060;
    --hashtag-section-color: #F2F2F2;
}

.shortsContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.sectionContainer{
    flex: 1;
    display: flex;
    justify-content: center;
}

