:root{
    --border-color:#E5E5E5;
}

.shortsContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.sectionContainer{
    flex: 1;
    display: flex;
    justify-content: center;
}