.videoComponents{
    flex-basis: 50%;
}

.videoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

/* 쇼츠 동영상부분. 크기 고정 */
.videoBox{
    width: 389px;
    min-width: 389px;
    height: 691px;
    background-color: rgb(173, 173, 173);
    border-radius: 12px;
    position: relative;
}

/* 모든 정보 담을 컨테이너 */
.infoContainer {
    position: absolute;
    padding: 16px;
    bottom: 0;
}

/* 프로필 */
.profileBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.profileBox img{
    width: 32px;
    border-radius: 50%;
}
.profileBox p{
    padding: 0 8px;
    color: white;
    font-weight: 700;
}

.subscribeBnt{
    width: 46px;
    height: 33px;
    border: none;
    border-radius: 16px;
    background-color: white;
    font-weight: 500;
}

.subscribeBnt:hover{
    background-color: var(--border-color);
    cursor: pointer;
}

.explanBox{
    color: white;
    padding: 8px 0 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3em;
}
.musicBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0 0;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.musicBox img{
    width: 14px;
    padding: 2px 6px 2px 2px;
}
/* 버튼 컨테이너 */
.bntContainer{
    width: 50px;
    padding: 12px 12px 0px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bntContainer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bntContainer button{
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 50%;
    background-color: var(--hashtag-section-color);
}
.bntContainer button:hover{
    cursor: pointer;
    background-color: var(--border-color);
}

.bntContainer div button img{
    width: 20px;
}

.bntContainer div span{
    font-size: 14px;
    padding: 6px;
    margin-bottom: 10px;
}

.musicImg img{
    width: 44px;
    height: 44px;
    border-radius: 12px;
    margin-top: 20px;
}