.videoComponents{
    flex-basis: 50%;
}

.videoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

/* 쇼츠 동영상부분. 크기 고정 */
.videoBox{
    width: 49vh;
    height: 87vh;
    background-color: rgb(173, 173, 173);
    border-radius: 12px;
    position: relative;
    transition: "all 0.3s ease";

    background-size: cover; /* 이미지가 컨테이너에 맞게 조정 */
    background-position: center; /* 이미지를 중앙에 위치 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
}

/* 모든 정보 담을 컨테이너 */
.infoContainer {
    position: absolute;
    padding: 16px;
    bottom: 0;
}

/* 프로필 */
.profileBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.profileBox img{
    width: 32px;
    border-radius: 50%;
}
.profileBox p{
    padding: 0 8px;
    color: white;
    font-weight: 700;
}

/* 구독 버튼 */
.subscribeBnt{
    width: 46px;
    height: 33px;
    border: none;
    border-radius: 16px;
    background-color: white;
    font-size: 12px;
    font-weight: 500;
}

.subscribeBnt:hover{
    background-color: var(--border-color);
    cursor: pointer;
}
/* 구독 완료 버튼 */
.subscribedBtn {
    width: 55px;
    height: 33px;
    border: none;
    font-size: 12px;
    border-radius: 16px;
    background-color: rgba(255,255,255,0.3);
    color: white;
    font-weight: 600;
}
.subscribedBtn:hover {
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
}

.explanBox{
    color: white;
    padding: 8px 0 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3em;
}
.musicBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0 0;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.musicBox img{
    width: 14px;
    padding: 2px 6px 2px 2px;
}
/* 버튼 컨테이너 */
.bntContainer{
    width: 60px;
    padding: 12px 8px 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bntContainer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bntContainer button{
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 50%;
    background-color: var(--hashtag-section-color);
}
.bntContainer button:hover{
    cursor: pointer;
    background-color: var(--border-color);
}

.bntContainer div button img{
    width: 20px;
}

.bntContainer div span{
    font-size: 14px;
    padding: 6px;
    margin-bottom: 10px;
}

/* 싫어요 버튼 */
.donlikeBnt img{
    margin-bottom: -4px;
}
/* 댓글버튼 */
.commentBnt img{
    margin-bottom: -4px;
}
.musicImg img{
    width: 44px;
    height: 44px;
    border-radius: 12px;
    margin-top: 20px;
}