:root {
    --primary-border-color: #eeeeee;
    --hover-bg-color: #ededed;
    --default-icon-size: 25px;
    --default-element-size: 40px;
    --default-border-radius: 50%;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px solid var(--hover-bg-color);
    z-index: 10;
    box-sizing: content-box;
    background-color: #ffffff;
}
.header > section {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    gap: 20px;
}
.section2 {
    max-width: 1200px;
    width: calc(50% - 20px);
    gap: 10px;
}
.section3 {
    padding-right: 10px;
    align-items: center;
}
/*section > div*/
.header > section > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.icoContainer {
    width: var(--default-element-size);
    height: var(--default-element-size);
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.myPageIco {
    width: 30px;
    height: 30px;
    color: white;
    background-color: #a68278;

    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 3px 8px;
    border-radius: 20px;
    border: 1px solid #659ede;
    cursor: pointer;
}
.login:hover {
    background-color: #def1ff;
}
.login > img{
    width: 24px;
    height: 24px;
}
.login > span {
    color: #659ede;
    white-space: nowrap;
}
.logo {
    align-items: center;
    margin-left: 4px;
    cursor: pointer;
}
/* section > div:hover */
.icoContainer:hover, .searchButton:hover {
    background-color: var(--hover-bg-color);
}
/* section > div > img */
.burger > img,
.icoContainer > img,
.icoImg {
    width: var(--default-icon-size);
    height: var(--default-icon-size);
}
.logo > img {
    width: 90px;
    object-fit: cover;
}
/* *** section 2 *** */
.inputWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}
/* icon absolute */
.searchIco {
    position: absolute;
    left: 10px;
    top: 20%;
    display: none;
}
.keyboardIco {
    position: absolute;
    right: 65px;
    top: 35%;
    cursor: pointer;
}
/* searchBox custom */
.searchButton, .searchBox {
    border: 1px solid var(--primary-border-color);
    outline: none;
    align-items: center;
}
/* input box custom */
.searchBox {
    width: 100%;
    height: 40px;
    border-radius: 30px 0 0 30px;
    padding-left: 20px;
    border-right: none;
    font-size: 16px;
}
.searchBox:focus {
    outline: none;
    padding-left: 50px;
}
.searchBox:focus + .searchIco {
    display: block;
}
/* search button custom */
.searchButton {
    width: var(--default-element-size);
    height: var(--default-element-size);
    background-color: #f8f8f8;
    border-radius: 0 30px 30px 0;
    padding-right: 50px;
    cursor: pointer;
}
.searchButton > img {
    padding-left: 10px;
}

