.sidebarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px; /* 확장된 너비 */
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 3000; /* 기존 사이드바 위에 표시 */
    overflow-y: auto;
    padding: 20px 10px;
}
