.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 80px;
    height: 100vh;;
    z-index: 1000;
    background-color: white;
    margin-top: 60px;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    align-items: center;
    overflow: hidden;
}

.expanded {
    width: 240px; /* 확장된 상태 */
    align-items: flex-start;
    padding-left: 20px;
    overflow-y: auto;
}

.sidebar_icons{
    margin-top: 15px;
}
.sidebar_Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-size: 10px;
    font-weight: 500;
    transition: color 0.3s ease;
    border-radius: 10px;
}

.sidebar_icon {
    width: 25px;
    height: 25px;
    margin-bottom: 6px;
    transition: transform 0.3s ease;
}

.text_home,
.text_shorts,
.text_subscribe,
.text_mypage {
    margin-bottom: 33px;
}

.sidebar_Item:hover .sidebar_icon {
    transform: scale(1.15);
}

.expandedMenu {
    margin-top: 20px;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    padding-right: 10px;
}

.sectionTitle {
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #606060;
}

.menuItem {
    margin: 5px 0;
    padding: 5px 0;
    cursor: pointer;
    font-size: 14px;
    color: #000;
    transition: background-color 0.2s ease;
}

.menuItem:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.hidden {
    display: none; /* 숨겨진 상태 */
}

.visible {
    display: block;
}