.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 80px;
    height: 100vh;;
    z-index: 1000;
    background-color: white;
    margin-top: 60px;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    align-items: center;
    overflow: hidden;
}

.expanded {
    width: 220px; /* 확장된 상태 */
    align-items: flex-start;
    padding-left: 20px;
    overflow-y: hidden;

}
.expandedMenu {
    margin-top: 20px;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    padding-right: 10px;
}

.showScrollbar {
    overflow-y: auto;
    border: none;
}

.hideScrollbar {
    overflow-y: hidden;
}


.expanded:hover {
    overflow-y: auto;
    border: none;
}

.expanded::-webkit-scrollbar {
    width: 1px;
}

.expanded::-webkit-scrollbar-track {
    background: transparent;
    border: none;
}

.sidebar_icons{
    margin-top: 10px;
}
.sidebar_Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-size: 10px;
    font-weight: 500;
    transition: color 0.3s ease;
    border-radius: 10px;
}

.sidebar_icon {
    width: 25px;
    height: 25px;
    margin-bottom: 6px;
    transition: transform 0.3s ease;
}

.text_home,
.text_shorts,
.text_subscribe,
.text_mypage {
    margin-bottom: 33px;
}

.sidebar_Item:hover .sidebar_icon {
    transform: scale(1.15);
}

.exp_home,
.exp_shorts,
.exp_subscribe {
    margin-left: 20px;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    color: #000;
    transition: background-color 0.2s ease;
    border-radius: 5px;
}

.menuItem img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.menuItem:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}


.infoSection {
    font-size: 12px;
    color: #606060;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 5px 7px;
}

.infoLinks span {
    cursor: pointer;
    margin-right: 5px;
    transition: color 0.2s ease;
    font-weight: bold;
}

.infoLinks span:hover {
    color: #000;
}

.bold {
    font-weight: bold;
}

.copyright {
    margin-top: 10px;
    font-size: 11px;
    line-height: 1.5;
}

.blueLink {
    color: #1a73e8;
    cursor: pointer;
}

.notice {
    font-size: 11px;
    color: #606060;
    line-height: 1.5;
    margin-top: 10px;
}

.divider {
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 0;
}

.sectionTitleMypage {
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    transition: color 0.2s ease;
    margin-bottom: 5px;
    padding: 10px 12px;
}

.sectionTitleMypage:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.sectionTitle {
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
    color: #000;
    transition: color 0.2s ease;
    margin-bottom: 5px;
    padding: 10px 12px;
}
