.mainVideo-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: white; */
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  font-size: 10px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  top: 0;
  overflow: hidden;
  padding-bottom: calc(9 / 16 * 100%);
  border-radius: 10px;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* --------------여기까지 메인 영상 ------------------ */

.video-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-wrap: wrap;
  white-space: pre-line; 
}

.details-header{
  font-size: 2em;
  padding: 10px;
  font-weight: bold;
}

.details-actions {
  display: flex;
  flex-direction: row;
  /* margin-top: 20px; */
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 1.4em;
  flex-wrap: wrap;
}

.creator-tab {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items:center;
}

.creator-tab>img {
  border-radius: 50%;
  /* border: 1px solid black; */
}

.creator-tab button {
  /* background-color: black; */
  padding: 10px;
  border-radius: 20px;
  border: none;
  /* color: white; */
  font-weight: bold;
  cursor: pointer;
}

.creator-info {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.actions button {
  /* background-color: rgb(245, 245, 245); */
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.details-contents {
  padding: 20px;
  /* background-color: rgb(245, 245, 245); */
  border-radius: 10px;
  font-size: 1.4em;
}

.details-contents > p:first-of-type {
  font-weight: bold;
  padding-bottom: 10px;
}

/* --------------여기까지 영상 설명  ------------------ */

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  
}

.comment-header {
  font-size: 2em;
  font-weight: bold;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.input-container>img {
  border-radius: 50%;
  /* border: 1px solid black; */
  width: 45px;
  height: 45px;
}

.input-container input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1.6em;
  border-bottom: solid 1px rgb(232, 232, 232);
  align-self: baseline;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* border: solid 1px rgb(232, 232, 232); */
  padding: 10px;
  /* justify-content: space-between; */
}

.comment>img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.comment-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* border: solid 1px rgb(232, 232, 232); */
  /* width: 100%; */
}

.comment-userName {
  font-weight: bold;
  font-size: 1.3em;
}

.comment-text {
  margin-top: 10px;
  font-size: 1.2em;
}

.comment-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.comment-actions span {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.comment-actions span:hover {
  cursor: pointer;
  /* background-color: rgb(245, 245, 245); */
}

.more_btn {
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
}