.app {
  /*text-align: center;*/
}
.container {
  /*text-align: center;*/
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    object-fit: contain;
    padding-top: 60px;
    padding-left: 80px;
    width: calc(100% - 80px);
}