.app {
  /*text-align: center;*/
}
.container {
  /*text-align: center;*/
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    object-fit: contain;
    padding-top: 60px;
    padding-left: 70px;
}